*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
p,h1
{
	line-height: 1.6;
	font-family: arial;
}
a
{
	text-decoration: none;
}
html
{
	scroll-behavior: smooth;
}
header
{
	height: 100vh;
	margin: auto;
	background: url(images/the-town-bg-01.jpg);
	background-size: 150% 204%;
	background-position: center -400px ;
	background-attachment: fixed;
}
/*
.topnav {
  overflow: hidden;
}
#logo
{
	margin-right: 50%;
	font-size: 26px;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-family: arial;
}

.topnav a:hover {
  color: #007bff;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}
*/
h1#town
{
	margin-top: 9%;
	font-size: 65px;
	font-family: arial;
	color: white;
	font-weight: 100;
	text-shadow: 2px 2px black;
	text-align: center;
}
p.para
{
	margin-top: 2%;
	text-align: center;
	color: white;
	font-size: 22px;
}
#font-awesome
{
	width: 6%;
	height: 12vh;
	background: white;
	position: absolute;
	top: 70%;
	left: 46%;
	text-align: center;
	border-radius: 100%;
	color: pink;

}
#font-awesome:hover
{
	background: #007bff;
	color: white;
}
.fa-chevron-down
{
	padding-top: 20%;
}
#intro
{
	height: 70vh;
	margin: auto;
	margin-top: 5%;
}
#intro .division
{
	height: 70vh ;
	float: left;
	margin-left: 5% ;
	margin-bottom: 9%;
}	
#intro img
{
	width: 100%;
	height: 100%;
}
#intro .division h1,#ourwork h1
{
	color: #007bff;
	font-size: 64px;
	font-weight: 100;
	
}
#intro .division p
{
	font-size: 20px;
	margin-top: 3%;
	color: gray;
}
#intro .division p span
{
	color:  #007bff;
}
#intro .division button
{
	background: #42cbf5 ;
	color: white;
	border-radius: 50px;
	border: none;
	width: 30%;
	font-size: 18px;
	height: 9vh;
	margin-top: 6%;

}
#intro .division button:hover
{
	background: skyblue;
}
#ourwork
{
	height: 92vh ;
	margin: auto;
	margin-top: 6%;
	text-align: center;
	clear: both;
}
#ourwork p
{
	margin-top: 2%;
}
.imgs
{
	height: 55vh;
	float: left;
	margin-top: 5%;
}
.imgs img
{
	width: 95%;
	height: 100%;
}
.contactbg
{
	background: url(images/the-town-bg-02.jpg);
	background-size: 100% 100%;
	background-position: cover;
	background-attachment: fixed;
}
#contact
{
	clear: both;
	height: 103vh;
	margin: auto;
	
}
#contact h1
{
	color: white;
	font-size: 60px;
}
#contactus
{
	width: 80%;
	height: 80vh;
	margin: auto;
	position: relative;
	top: 10%;
}
#contactus #under
{
    border-top: 2px solid white;
    height: 8px;
    width: 100%;
}
#contactus #underline
{
    width: 25%;
    height: 8px;
    background: white;
}
#contact p
{
	color: white;
	margin-top: 4%;
}
#contact .contactlinks
{
	height: 40vh;
	margin: auto;
	margin-top: 3%;
	
}
#contact .contactlinks a
{
	font-size: 24px;
	display: block;
	margin-bottom: 5%;

}
#contact .contactlinks .linkright
{
	height: 40vh;
	float: left;
}
#contact .contactlinks .linksbottom
{
	margin-top: 15%;
}
#contact .contactlinks a
{
	color: white;
	width: 65%;
}
#contact .contactlinks input
{
	width: 55%;
	height: 8vh;
	background: transparent;
	padding-left: 5%;
	font-size: large;
	color: white;
	padding: 8px 25px;
    border-radius: 3px;
    border: 1px solid white;
}
input::placeholder
{
	color: white;
}

#btn
{
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
	padding: 11px 30px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
	margin-left: 4%;
}
#contact .contactlinks #btn:hover
{
	background :rgb(224, 220, 220);
}
#contact .contactlinks .fa
{
	padding-right: 5%;
}
#contact .contactlinks .linkposi
{
	position: relative;
	top: 0%;
}

#copy
{
	width: 70%;
	margin-top: 11%;
	margin-left: 5%;
	text-align: center;
	font-size: 12px;
	color: white;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 100px)
{
	#intro
	{
		height: auto;
	}
	#ourwork
	{
		height: auto;
	}
	#font-awesome
{
	width: 12%;
	height: 9vh;
	background: white;
	position: absolute;
	top: 70%;
	left: 46%;
	text-align: center;
	border-radius: 100%;
	color: pink;

}
}

@media only screen and (max-width: 766px)
{
	#contact
	{
		height: 145vh;
	}

}
@media only screen and (min-width: 600px)
{
	#font-awesome
{
	width: 8%;
	height: 9vh;
	background: white;
	position: absolute;
	top: 70%;
	left: 46%;
	text-align: center;
	border-radius: 100%;
	color: pink;
}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    #font-awesome
{
	width: 5%;
	height: 9vh;
	background: white;
	position: absolute;
	top: 70%;
	left: 46%;
	text-align: center;
	border-radius: 100%;
	color: pink;

}
}